.bottom-sidebar{
	background:#262a36 !important;
}

.kopa-footer.style-01{
	background: #222730 !important
}

.kopa-search-form{
	width: 50%;

}

.search-input::placeholder{
	color: rgba(255,255,255,.4);
	transition:.2s;
}

.search-input{
	position: relative;
	background:url('../img/icons/search.svg') no-repeat;
	background-size: 20px;
	background-position: left top;
	border:1px solid;
	border:none;
	border-bottom:1px solid rgba(255,255,255,.2);
	width: 100%;
	padding-left: 30px;
	transform: skew(-20deg);
	color: white;
	padding-bottom: 8px;
	margin-bottom: -20px;
	transition: .2s;
}

.search-input:focus::placeholder{
	color: rgba(255,255,255,.5)
}
.search-input:focus{
	border-bottom:1px solid rgba(255,255,255,.5) !important;
}

.navbar-menu li a{
	margin-top:5px;
	font-size: 11px !important;
}

.navbar-menu li.border-bold a{
	border:2px solid;
	padding:7px;
	color: #3498db !important;
}

.bg-image::before{
	content:'';
	background: url('../img/bg.png');
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}
.bg-image{
	position: relative;
	background: url('../img/main-bg.jpg') !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	z-index: -1;
}

.content-box{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-30%);
	width: 80%;
	text-align: center;
	color: white;
}

.content-box > *{
	font-family: Roboto, sans-serif;
}

.content-box h1{
	font-size: 50px !important;
}

.content-box > h1, .content-box > h3{
	text-transform: uppercase;
}

.content-box > h3{
	margin-top: 30px;
	letter-spacing: 2px;
	line-height: 150%;
	font-size: 15px;
}

.content-box > p{
	font-size: 18px; 	
}

.content-box > .content-bot{
	margin-top:50px;
}

.content-box > .content-bot > p{
	color: white;
	font-size: 17px;
}

.content-box > .content-bot > a{
	margin: 0 10px; 
}

.img-banner{
	padding:0;margin:0;position: relative;padding:30px 0;
}

.img-banner img{
	position: relative !important;
	margin:0 !important;
	width: 50% !important;
	padding:0 !important;
	left: 0 !important;
	bottom: 0 !important;
	line-height: 0 !important ;
}

.widget-header img{
	margin-bottom: 20px;
}

.module-features-02-cs > .row > div{
	padding:20px 50px;
}

.navbar-menu li a{
	transition: 1s;
	position: relative;
}

.navbar-menu li a:before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 0;
	border-bottom:2px solid;
	transition: .4s;
}

.navbar-menu li a:hover:before{
	width: 100%;
}

.module-features-01-cs p{
	font-size: 14px;
	margin-bottom: 30px;
	letter-spacing:1px;
	line-height: 160%;
}

.footer-img{
	margin-bottom: 20px;
	width: 80%;
}

.kopa-header-01 .top-header > *{
	padding:20px 30px !important;
}

select option{
	color:rgba(0,0,0,.8) !important;
}

.list-checkmark{
	list-style:none !important;
	margin: 50px 0;
}
.list-checkmark li{
	margin-bottom: 20px;
	display: inline-block !important;
	width: 24%;
}
.list-checkmark li:before {
  content: '✓';
  margin-right: 20px;
}

.kopa-area-breadcrumb{
	padding-top: 300px !important;
	background:url('../img/2.jpg') !important;
	background-attachment: fixed !important;
	background-size: 100% !important;
}

.bg-image-2{
	background: url("../img/2.jpg");
	background-size: 100%;
}

.wrapper{
	height: 100vh;
	width: 100%;
	background: url("../img/2.jpg");
	background-size: 100%;
	display: table-cell;
	vertical-align: middle
}

.box-wrapper{
	border-radius: 2px;
	box-shadow: 0 0 10px rgba(0,0,0,.6);
	background: white;
	padding-top: 40px;
	padding-bottom: 40px;
}
.btn-back{
	position: fixed;
	left: 30px;
	top: 30px;
	text-decoration: none;
	background: #bdc3c7;
	color: white;
	border:1px solid rgba(0,0,0,.1);
	width: auto;
	padding:5px 20px;
	height: auto;
}

.btn-back i{
	margin-right: 10px;
}

.btn-back:hover{
	background: #2980b9;
	color: white;
}
.disp-tbl{
	display: table;
	width:100%;
}
.vcenter {
	display: table-cell;
	vertical-align: middle;
	float: none;
}

.form-simple{
	position: relative;
	margin-bottom: 20px;
}

.form-simple label{
	font-size: 12px;
}

.form-simple input{
	border:0;
	border-bottom:1px solid #222730;
	border-radius: 0;
	box-shadow: none;
}

.form-simple input:focus{
	outline: none;
	box-shadow: none;
}

.form-simple::after{
	content:"";
	position: absolute;
	border-bottom: 2px solid #222730;
	width: 0;
	z-index: 99999;
	transition: .2s ease;
}

.form-simple.active::after{
	width: 100%;
	opacity: 1;
}

.form-simple.transition-middle::after{
	left: 50%;
}

.form-simple.transition-middle.active::after{
	left:0;
}

#showPassword{
	padding:23px 20px;
	font-size: 20px;
	cursor: pointer;
}

.btn.btn-login{
	background: #2980b9;
	color: white;
	text-transform: uppercase;
}

.btn.btn-facebook{
	background: #3b5998;
	color: white;
	text-transform: uppercase;
}

.or-text{
	padding: 10px 0;
	margin: 0 auto;
}
.or-text hr{
	margin-top:0;
	margin-bottom: -10px;
}

.or-text span{
	background: white;display: inline-block;padding: 0 20px;
	font-size: 12px;
	color: rgba(0,0,0,.8)
}
.col-centered{
	float:none;
	margin:0 auto;
}

@media(max-width: 1200px){
	.kopa-search-form{
		width: 40%;
	}
}

@media (min-width: 1200px){
	.kopa-logo img{
		width: 220px
	}
}

@media(min-width: 991px ){
	.kopa-logo img{
		margin-top: -10px;
		margin-bottom: 10px;
		width: 210px;
	}
	.kopa-hamburger-menu{
		margin-top: 15px;
	}
	.kopa-hamburger-menu i{
		font-size: 20px;
	}
}

@media(max-width: 991px){
	.kopa-search-form{
		width: 40%;
	}
}

@media screen and (min-width: 1024px){
	.kopa-hamburger-menu{
		display: none !important;
	}

}

@media screen and (min-width: 1024px) and (max-width: 1200px){
	.kopa-logo img{
		width: 130px;
		margin-top: 8px;
	}
	.navbar-menu li a{
		font-size: 10px !important;
	}
}


@media(max-width: 991px){

	.kopa-logo img{
		width: 210px;
	}

	.kopa-hamburger-menu i{
		font-size: 30px !important;
	}

	.bottom-sidebar.style-01{
		padding-top: 0;
	}

	.footer-img{
		margin-bottom: 20px;
		width: 40%;
	}
}

@media (min-width: 480px) and (max-width: 800px){
	.content-box{
		transform: translate(-50%, -40%);
	}

	.kopa-slider-desktop .kopa-widget-slider h1{
		font-size: 40px !important;
	}
	
	.kopa-slider-desktop .kopa-widget-slider h3{
		font-size: 14px !important;
	}
	
	.kopa-slider-desktop .kopa-widget-slider .img-banner{
		text-align: center;
	}

	.kopa-slider-desktop .kopa-widget-slider .img-banner img{
		display: inline;
		width: 70% !important;
	}

	.kopa-slider-desktop .kopa-widget-slider .content-bot{
		margin: 0;
	}

	.kopa-slider-desktop .kopa-widget-slider .content-bot p{
		display: none;
	}

	.kopa-slider-desktop .kopa-widget-slider .content-bot a{
		padding: 10px;
	}

	.kopa-slider-desktop .kopa-widget-slider .widget-content{
		border:1px solid;
		height: 80vh;
	}
}

@media(max-width: 480px){
	.kopa-logo > a > img{
		width: 150px !important;
	}

	.content-box{
		transform: translate(-50%, -35%);
	}

	.kopa-slider-desktop .kopa-widget-slider h1{
		font-size: 30px !important;
	}
	
	.kopa-slider-desktop .kopa-widget-slider h3{
		font-size: 12px !important;
	}
	
	.kopa-slider-desktop .kopa-widget-slider .img-banner{
		text-align: center;
	}

	.kopa-slider-desktop .kopa-widget-slider .img-banner img{
		display: inline;
		width: 100% !important;
	}

	.kopa-slider-desktop .kopa-widget-slider .content-bot{
		display: none;
	}

	.kopa-slider-desktop .kopa-widget-slider .widget-content{
		border:1px solid;
		height: 80vh;
	}
	.module-features-01-cs p{
		padding: 0 40px;
	}
	.list-checkmark li{
		margin-bottom: 20px;
		display: inline-block;
		width: 45%;
	}

	.btn-back{
		padding:5px;
		left: 10px;
		top: 10px;
	}

	.btn-back i{
		margin:0;
	}

	.btn-back span{
		display: none;
	}

}